bin/*
build/*
external/**/*.o
external/**/*.lo
external/*.class
external/crfpp/.libs/*
external/*.lo
external/crfpp/Makefile
external/crfpp/Makefile.msvc
external/crfpp/confdefs.h
external/crfpp/config.h
external/crfpp/config.log
external/crfpp/config.status
external/crfpp/conftest.cpp
external/crfpp/conftest.err
external/crfpp/java/CRFPP.jar
external/crfpp/java/CRFPP_wrap.o
external/crfpp/java/libCRFPP.so
external/crfpp/libtool
external/crfpp/stamp-h1
lib/CRFPP.jar
lib/libCRFPP.so
production/*
liner2.jar
local/*
*.swp
*.class
