# Created by https://www.gitignore.io

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


lib/CRFPP.jar
lib/libCRFPP.so
lib/g419-corpus.jar
lib/g419-lib-cli.jar
lib/g419-liner2-api.jar
lib/g419-liner2-cli.jar
lib/g419-liner2-daemon.jar
lib/g419-liner2-relations.jar
lib/g419-crete-api.jar
lib/g419-crete-cli.jar
modules/**/*.jar

g419-liner2-cli/src/test/resources/data/plwordnet_2_0_2_pwn_format
g419-liner2-cli/src/test/resources/2015-03-11-kpwr-timex-norm-global
g419-external-dependencies/crfppWorkspace
g419-external-dependencies/src
g419-external-dependencies/CRF++-0.57

.classpath
.project
