.metadata/*
bin/*
build/*
external/**/*.o
external/**/*.lo
external/*.class
external/crfpp/.libs/*
external/*.lo
external/CRF++-0.57
lib/CRFPP.jar
lib/libCRFPP.so
production/*
local/*
*.swp
*.class
g419-corpus.jar
g419-liner2-api.jar
g419-liner2-cli.jar
g419-liner2-daemon.jar
